body{
    margin:0;
}
#nav-main{
  width:100%;
  height:120px;
  border:1px noshade red;
  display:flex;
  position:fixed,relative;
  margin-top:0;
  background-color: orangered;
}

#nav-main>.logo{
    width:200px;
    height:100px;
    border:1px noshade red;
    margin-top:10px;
}
.logo img{
   width:90%;
   border-radius: 20px;
   margin-left:30px;
}

#nav-main>div:nth-child(2){
 width:600px;
 height:100px;
 border:1px noshade red;
 margin-top:10px;
 display:flex;
}
#nav-main>div:nth-child(2) p{
color:#ffffff;
 text-align: center;
 margin:auto;
 font-family: 'Oswald', sans-serif;
}
#nav-main .signIn{
    width:50px;
    height:80px;
    border:1px noshade green; 
    margin:auto;
    margin-right:0;
}
#nav-main .signIn:hover{
background-color:rgb(223, 242, 249);
border-radius:10px;
}
#nav-main .signIn>a>img{
    width:100%;
}
#nav-main .signIn>a{
    text-align: center;
    text-decoration: none;
    font-size: 15px;;
    color:#5b5d5b;

}

#nav-main .cart{
    width:50px;
    height:80px;
    border:1px noShade green; 
    margin:auto;
    margin-right:10px;
    text-align: center;
    display:flex;
    margin-left:30px;
    background-color: white;
    border-radius: 10px;
}
#nav-main .cart:hover{
    background-color:rgb(223, 242, 249);
    border-radius:10px;
}


#nav-main .cart>a>img{
    width:80%;
   
}

#nav-main .cart>a{
    text-align: center;
    text-decoration: none;
    font-size: 15px;;
    color:#5b5d5b;
    margin:auto;
}



/* nav-2 include dropdown */

#nav-2{
    width:100%;
    height:60px;
    border:1px noshade red;
    margin-top:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:orangered;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;;
}

.dropimg {
    background-color:white;
    color: rgb(0, 0, 0);
    width:60px;
    height:30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left:15px;
    border-radius: 5px;
    text-align: center;
  }
  
.dropdown {
    width:60px;
    height:40px;
    position: relative;
    display: inline-block;
    border-radius: 20px;
  }
  
 .dropimg .dropdown-content {
    display: none;
    position: absolute;
    background-color: orangered;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropimg {
    background-color: #ffffff;
  }



#nav-2 .add{
    width:200px;
    height:35px;
    border:1px solid black;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: white;
}
#nav-2>.add>img{
    width:30%;
}
#nav-2 input{
    width:300px;
    height:40px;
    border-radius: 10px;
    border-style: none;
}









#ad>div{
    width:100%;
    height:100px;
    margin-top:30px;
}
#ad>div>a>img{
    width:100%;
}




#content-1{
    width:100%;
    border:1px noshade red;
    box-sizing: border-box;
    margin:0;
    display:flex;
    justify-content: space-evenly;
}
#content-1>.left{
    width:100%;
    height:500px;
    border:1px noshade blue;
}
#content-1>.left>a>img{
    width:100%;
    height:100%;
}


/*  
div {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 100;
    animation-direction: alternate-reverse;  
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  } */


#content-1>.right{
    width:100%;
    height:450px;
    border:1px noshade blue;
    display:grid;
    grid-template-rows: 3;
    align-content: space-between;
}
#content-1>.right>div{
    width:100%;
    height:80px;
}
#content-1>.right>div>a>img{
    width:100%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#ad-2{
  width:100%;
  height:150px;
  border:1px noshade red;
  margin-top:30px;
}
#ad-2>a>img{
    width:100%;
    border-style:none;
}


#items{
    width:100%;
    height:450px;
    border:2px noshade red;
    
}

#items>#container{

}

/* input */

.head1{
    width:100%;
    height:150px;
    border:1px noshade blue;
    margin-top:20px;
    background-color: #f2f2f2;
}
.head1 div>h1{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 40px;
    margin-bottom:30px;
}
.head1 #inputs ul{
    display:flex;
    justify-content: space-evenly;
}
.head1 #inputs ul{
    list-style: none;
    
}


#year,#brand,#engine{
    font-size: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border-width: 0.5px;
}

#ads{
    width:100%;
    height:200px;
    display:flex;
    border:1px noshade red;
}
#ads li{
    list-style: none;
}

#ads li>img{
    width:100%;
}

#ad-3{
    width:100%;
    height:30px;
    margin-top:30px;
}
#ad-3>img{
    width:100%;
}

#category{
    width:100%;
    height:400px;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-content:space-between;
    margin-top:150px;
    background-color: #ffffff; 
}

#category>div{
    width:90%;
    height:200px;
    border:1px noshade rgb(255, 255, 255);
    display: grid;
    grid-template-rows: 2;
    transition: transform 0.30s;
    background-color: #ffffff; 
}
#category>div:hover{
    border:1px solid rgb(188, 75, 0);
    border-radius:30px;
    transform: scale(0.9);
    box-shadow: rgb(11, 45, 81) 0px 20px 30px -10px;box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#category div img{
    width:35%;
    margin:auto;
}
#category h2{
  text-align: center;
 color:rgb(212, 67, 67);
 text-transform: uppercase;
 font-size: 20px;
 font-family:'Oswald', sans-serif;
 
}


.list{
    width:100%;
    height:300px;
    border:1px noshade red;
    background-color:orange;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-evenly;
}

.list ul li{
  list-style: none;
}
 .list ul h3{
    text-align:justify;
 }
.list ul li p{
cursor: pointer;
color: white;
text-align:justify;
transition: transform 0.1s;
}
.list ul li p:hover{
    transform: scale(0.9);
}

.bottom{
    width:100%;
    border:1px noshade red;
    display:flex;
    margin:auto;
}
.first{
    width:100%;
    position:relative;
}
.first img{
    width:100%;
}
.first #email{  
    width:25%;
    height:10%;
    position:absolute;
    box-sizing: border-box;
    top:20px;
    right:10px;
} 
/* }
.first button{
    position:absolute;
    box-sizing: border-box;
    margin-right:50px;
    width:5%;
    height:10%;
    top:2%;
    margin-left: 20px;;
} */

.second{
    width:100%;
    height:50px;
    border:1px noshade green;
    display:flex;
    background-color: black;
}
.second div{
    width:50%;
    height:50px;
    border:1px noshade grey;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.second div:hover{
    cursor: pointer;
}
.second img{
    width:10%;
}
.second h2{
    color:rgb(225, 76, 21);
    text-transform: uppercase;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#sites{
    display:flex;
}

#sites img{
    width:10%;
}
#sites img:hover{
    cursor: pointer;
}
#bottomList{
    width:100%;
    height:300px;
    background-color: #000000;
    display:flex;
    margin:auto;
}
#bottomList div{
    width:20%;
    height:300px;
}
#bottomList div ul{
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color:#f1f1f1;
}
#bottomList div ul li{
    color:grey;
    list-style: none;
    line-height: 2.0;
    transition: transform 0.30s;
}
#bottomList div ul li:hover{
    color:white;
    list-style:circle;
    transform: scale(0.9);
}
#bottom-2>div,.demo{
    width:100%;
    background-color: #000000;
}

#bottom-2>.demo{
    width:100%;
    height:70px;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    border:1px solid green;
    background-color: #000000;
}
#bottom-2>div>h3,.demo>h3{
    text-align: center;
    color: #ffffff;
}
.end{
    width:100%;
    height:30px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
}

.end>.end1,.end2{
    width:50%;
}




/* RESPONSIVE */
@media only screen and (min-width: 500px) and (max-width: 768px) {
    
#nav-main{
    width:100%;
    height:120px;
    border:1px noshade red;
    display:flex;
    position:fixed,relative;
    flex-flow: column;
    margin-top:0;
    background-color: rgb(237, 147, 44);
  }
}



@media only screen and (min-width: 320px) and (max-width: 499px) {
    
#nav-main{
    width:100%;
    height:120px;
    border:1px noshade red;
    display:flex;
    flex-flow: column;
    margin-top:0;
    background-color: rgb(237, 147, 44);
  } 
}